*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    max-height: 100%;
}
body{
    font-family: tahoma;
    font-size: 18px;
    background-image: url(../img/incap\ se\ invencible2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Seccion Header */
#header{
    background-color:aqua;
    border: 2px solid aqua;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: header;
}
ul{
    padding: 0;
    margin: 0 1px;
}
li{
    list-style: none;
    margin: 0 5px;
    font: bold 12px Verdana;
}
a{
    color: white;
    text-decoration: none;
}
#menu{
    grid-area: nav;
    background-color: blue;
    border: 2px solid gray;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
/* menu y submenu nuevo */
.menuB >li{
    position: relative;
    display: inline-block;
}
.menub >li>a{
    display: block;
    padding: 15px 20px;
    color: whitesmoke;
    text-decoration: none;
}
.menuB li a:hover {
    color: lightblue;
    transition: all .3s;
}
/* submenu */
.submenu{
    position: absolute;
    background: blue;
    width: 120%;
    display: none;
    }
    .submenu li a{
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
    }
    /* estilos para aplicar al pasar mouse por el menu de opciones, se desplega submenu respectivo */
    .menuB li:hover .submenu{
        display: block;
        z-index: 100;
    }

/* nuevo estilo para el buscador */
.buscarbox input{
    height: 25px;
    width: 0px;
    padding: 0px 0px;
    border-radius: 40px;
    border: 0px;
    padding-right: 50px;
    transition: 0.8s ease;
}
/* Se aplica una pseudoclase hover para expandir el ancho del buscador */
.buscarbox input:hover{
    width: 150px;
    padding-left: 10px;
    outline: none;
}
/* seccion de contenido */
#main{
    grid-area: main; /* matricula nombre al contenedor de section para grid*/
    border: 2px green;
    /* se define ancho y altura contenedor para ajustar la vista del dispositivo actual */
    max-width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
}
figure, figcaption{
    display: inline;
    margin: 45px;
    padding: 5px 5px;
}
.programa{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 5px;
    width: 45%;
    height: 200%;
    position: relative;
    border: 1px solid black;
    border-radius: 15px 15px;
}
section article{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    margin: 20px;
}

/* barra lateral */
#sidebar{
    grid-area: sidebar;/* se asigna nombre a contenedor*/
    display: flex;
    flex-direction: column; /* se define direccion en forma columna*/
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
}
/* se define ancho y altura contenedor para ajustar a vista de dispositivo actual */
inframe{
    max-width: 100%;
    height: auto;
}
/* seccion estilos <footer> */
#footer{
    grid-area:footer;
    padding-top: 20px;
    border: 2px solid yellowgreen;
    border-radius: 20px 20px 10px 10px;
    clear: both; 
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(20px);
}
#redes a{
    padding: 5px;
    margin: 0px;
}
#redes a i:hover{
    transform: scale(1.5);
}
/* Estilos a iconos fontawesome redes sociales */
i[class^="fa"]{
    color: grey;
    font-size: 18px;
}
/* iconos fontawesome bar social */
i[class^="fab"]{
    color: grey;
    font-size: 30px;
    border: 1px solid transparent;
    margin: 0px;
}

/* SECCION CSS GRID PARA GRID CONTAINER*/
#grid-container > *{
    text-align: center;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
}
/* seccion de CSS para VISTA PC :3 COLUMNAS */
#grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template:
    "header header header" 150px
    "nav nav nav" 50px
    "main main sidebar" 300px
    "main main sidebar" 300px
    "main main sidebar" 250px
    "footer footer footer" 150px /
    1400px 150px 300px;
}
/* SECCION CSS VISTA TABLETS: 2 COLUMNAS */
@media (max-width:1024px){
    #grid-container{
        grid-template: 
        "header header" 170px
        "nav main" 800px
        "nav main" 700px
        "sidebar sidebar" 650px
        "footer footer" 100px /
        250px 450px;
        font-size: 75%;
    }
#menu{
    background-color: blue;
    border-radius: 22px;
    display: block;
    padding: 45px;
    margin: 40px;
    height: auto;
    text-align: center;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;/*Auto ajuste del elemento en contenedor*/
    max-width: 100%;
}
.programa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}
iframe{
    max-width: 100%;/*Auto ajuste al dispositivo*/
    height: auto;/*Auto ajuste al dispositivo*/
}
.buscarbox{
    display:block;
    padding: 5px;
}
}
/* SECCION CSS GRID VISTA CELULAR 1 COLUMNA */
@media (max-width:640px){
    #grid-container{
        grid-template: 
        "header" 150px
        "nav" 50px
        "main"1120px
        "sidebar"800px
        "footer"100px /
        500px;
        font-size: 60%
        }
        /* Nota el contenedor sera ocultado <nav> sera ocultado y remplazado por icono hamburguesa */
        #menu{
            display: none;
        }
        #main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
            height: auto;
        }
        .programa{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 100%;
            height: auto;
            border: 1px solid black;
            }
            iframe{
            max-width: 100%;
            height: auto;
            }
            .buscarbox{
            display: none;/*Se oculta lupa y buscador*/
            }
}